<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="[Description]">

<title>{{ siteTitle }}</title>

<link rel="stylesheet" href="{{assetsCss}}main.css">

<meta property="og:description" content="[Description]">
<meta property="og:title" content="{{ siteTitle }}">
<meta property="og:type" content="website">
<meta property="og:url" content="[URL]">
<meta property="og:image" content="{{assetsCssImg}}system/facebook-og-image.jpg">

<meta name="twitter:description" content="[Description]">
<meta name="twitter:title" content="{{ siteTitle }}">
<meta name="twitter:image:src" content="{{assetsCssImg}}system/twitter-og-image.jpg">
<meta name="twitter:card" content="summary_large_image">

<!-- Browser Tab Bar Color -->
<meta name="theme-color" content="#29b8f2">
<meta name="msapplication-navbutton-color" content="#29b8f2">
